.link {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 8px;
    margin: 30px 0 5px 0;

    a {
        font-weight: 600;
        letter-spacing: -0.3px;
    }

    a:hover {
        color: var(--primary);
        transition: all ease 0.5s;
    }

    p {
        font-weight: 600;
        letter-spacing: -0.3px;
    }
}

.decoration {
    height: 3px;
    width: 80px;
    background-color: var(--secondary);
    border-radius: 5px;
    margin-bottom: 30px;
}

// Banner
.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.img {
    background-color: rgba(0, 0, 0, 0.1);
    height: 320px;
    width: 70%;
}

.img-thumbnail {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
        height: calc(100% / 4);
        width: 75px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

// Main

.blogs-detail {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.blogs-decor {
    width: 70%;
    height: 3px;
    background-color: var(--secondary);
    border-radius: 5px;
    margin-bottom: 30px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menu {
    width: 25%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: sticky;
    height: 100%;
    top: 90px;
    z-index: 500;

    h1 {
        text-decoration: 2px underline;
        text-underline-offset: 5px;
        margin-bottom: 5px;
        font-size: 17px;
    }

    p {
        font-size: 15px;
        font-weight: 600;
    }

    p:hover {
        text-decoration: 1px underline;
    }
}

.hr-decor {
    height: 3px;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 5px;
    margin: 5px 0;
}

.list-icon {
    display: flex;
    color: var(--primary);
    gap: 10px;
    cursor: pointer;

    svg {
        transition: all ease 0.5s;
    }

    svg:hover {
        opacity: 0.6;
    }
}

.detail {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px 30px;
}

.detail-category {
    font-size: 13px;
    color: var(--primary);
    font-weight: 600;
    margin-top: 5px;
}

.detail-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.2px;
    margin: 3px 0 5px 0;
    text-transform: uppercase;
}

.detail-create {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;
    color: var(--text-black);

    & svg {
        font-size: 20px;
    }
}

.detail-description {
    font-size: 14.5px;
    color: var(--text-black);
    margin: 10px 0 20px 0;
    font-weight: 500;
}
