.head-title {
    font-size: 2.5rem;
    font-weight: 500;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.faq-question {
    font-size: 1.2rem;
    font-weight: 500;
}

.contact-card {
    background: var(--secondary);
}
