.admin-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.admin-panel {
    display: flex;
    flex-direction: column;
    width: 24%;
    border-right: solid 1.5px rgba(0, 0, 0, 0.1);
    height: 100%;
    background-color: rgb(245, 245, 245);
}

.panel-header {
    height: 70px;
    border-bottom: solid 1.5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.panel-wrapper {
    padding: 10px;
}

.panel-item {
    font-size: 14.5px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    letter-spacing: -0.2px;
    padding: 10px;
    transition: all ease 0.5s;
    border-radius: 5px;

    svg {
        font-size: 20px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.admin-content {
    width: 76%;
    height: 100%;
    overflow: scroll;
}

.content-header {
    height: 70px;
    padding: 0 20px;
    border-bottom: solid 1.5px rgba(0, 0, 0, 0.1);
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

.commom-button {
    font-size: 14.5px;
    font-weight: 600;
    background-color: rgba($color: #000000, $alpha: 0.05);
    border-radius: 10px;
    padding: 6px 14px;
    border: solid 1.5px rgba(0, 0, 0, 0.1);
    transition: all ease 0.5s;

    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.15);
    }
}

.content-wrapper {
    padding: 10px 20px;
    height: 1500px;
    width: 100%;
}

// User

.common-title {
    font-weight: 600;
    text-decoration: 2px underline;
}

.common-inp {
    border-radius: 10px;
    border: solid 1.5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px;
    margin: 20px 0;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;

    &:focus {
        outline: solid 2px var(--primary);
        outline-offset: 2px;
    }
}

.common-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 1.5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14.2px;
    font-weight: 600;
    letter-spacing: -0.1px;
    background-color: rgb(245, 245, 245);

    button {
        font-size: 14px;
        font-weight: 600;
        background-color: rgba($color: #000000, $alpha: 0.05);
        border-radius: 10px;
        padding: 6px 14px;
        border: solid 1.5px rgba(0, 0, 0, 0.1);
        transition: all ease 0.5s;
    }
}

.user-item-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.avatar {
    background-color: var(--primary);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-weight: 500;
}

// Product
.product-panel {
    height: 55px;
    width: 100%;
    border-radius: 10px;
    border: solid 1.5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}

.add-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.add-content {
    width: 90%;
    max-height: 90%;
    background-color: #fff;
    border-radius: 10px;
    overflow: scroll;
}

.add-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: #fff;
    padding: 10px 15px;

    p {
        font-weight: 600;
        text-decoration: 2px underline;
        letter-spacing: -0.2px;
    }
}

.add-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 15px 10px 15px;
}

.add-body-2 {
    width: 55%;
    height: 100%;
    position: sticky;
    top: 50px;
    z-index: 1;
}

.add-body-1 {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-inp {
    width: 100%;
    height: 50px;
    border: solid 1.5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 13.5px;
    font-weight: 600;
    padding: 0 10px;
    letter-spacing: -0.2px;
    transition: all ease 0.5s;

    &:focus {
        border: solid 1.5px var(--primary);
    }
}

.all-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
    font-weight: 600;
    letter-spacing: -0.1px;
    margin: 5px 0;
}

.product-status {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    cursor: pointer;

    div {
        width: 15px;
        height: 15px;
        border: solid 1.5px rgba(0, 0, 0, 0.5);
        border-radius: 50%;
    }
}
