//Titles
.head-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: normal;
    letter-spacing: 5px;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-decoration: underline;
}
