.wrapper{
    &-table{
        box-shadow: rgba(214, 214, 214, 0.16) 0px 3px 6px, rgba(214, 214, 214, 0.23) 0px 3px 6px;
        max-height: 500px;
        overflow-y: scroll;
        & table {
            width: 100%;
            border-collapse: collapse;
        }
        & thead{
            font-size: 14px;
        }
        & tbody{
            font-size: 12px;
        }
          
        & table, th, td {
            border: 1px solid rgb(214, 214, 214);
        }
          
        & th, td {
            padding: 8px;
            text-align: left;
        }
          
        & th {
            background-color: var(--primary-color);
        }
        &-textIndent{
            list-style-type: disc;
            margin-left: 20px;
        }
    }
}