@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Questrial&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary: #0274be;
    --secondary: #78b461;
    --secondary-dark: #8c8d8f;
    --bg-color: #e9e9e9;
    --success: #d2fbd0;
    --error: #fbd0da;
    --warning: #fbf5d0;
}

body {
    text-rendering: optimizeSpeed;
}

html * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-scrollbar: none;
    font-family: 'Montserrat', serif !important;
    font-weight: 500;
    user-select: none;
}

h1 {
    font-family: 'Merriweather', serif !important;
}

html *::-webkit-scrollbar {
    display: none;
    border-radius: 0;
    width: 2px;
    height: 30px;
}

.cpmount {
    animation: opacity 0.8s ease;
}

.opacity {
    cursor: pointer;
}

.opacity:hover {
    opacity: 0.6;
    transition: all ease 0.5s;
}

input:focus {
    outline: none;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* CUSTOM MUI */

.css-10hyoxo-MuiStack-root span,
.css-9l3uo3 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.5);
}

.css-r47a1p-MuiFormControl-root,
.css-qwo8uq-MuiFormControl-root,
.css-sno2n7 {
    margin: 0px !important;
}

.css-vq0uqb-MuiFormLabel-root-MuiInputLabel-root,
.css-1yu8n09 {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.css-9l3uo3 {
    font-size: 11.5px !important;
    font-weight: 500 !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.css-mttclk {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.css-wl6u4m {
    margin-right: 0px !important;
}

progress {
    /* accent-color: coral !important; */
    border-radius: 10px;
    height: 6px;
    width: 100%;
}

progress::-moz-progress-bar {
    background-color: var(--primary);
}
