.link {
    display: flex;
    flex-direction: row;
    gap: 22px;
    font-size: 15.5px;
    transition: all ease 0.5s;

    li {
        cursor: pointer;

        a {
            font-weight: 600;
            letter-spacing: -0.5px !important;
        }

        &:hover {
            color: var(--primary);
            text-decoration: 2px underline var(--primary);
            text-underline-offset: 5px;
            transition: all ease 0.5s;
        }

        p {
            font-weight: 600;
            letter-spacing: -0.5px !important;
        }

        &:hover {
            color: var(--primary);
            text-decoration: 2px underline var(--primary);
            text-underline-offset: 5px;
            transition: all ease 0.5s;
        }
    }
}

.title-footer {
    font-size: 15.5px;
    font-weight: 700;
    letter-spacing: 0.2px;

    text-transform: uppercase;
    cursor: default;
}

// Header
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all ease 0.5s;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.searchFill {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 1001;
    display: flex;
    flex-direction: row;
    transition: all ease 0.7s;
    opacity: 0;
    padding: 0 100px;

    form {
        width: calc(100% - 70px);
        border-bottom: solid 2px var(--primary);
    }

    input {
        width: 100%;
        height: 100%;
        font-size: 15px;
        font-weight: 600;
        font-style: italic;
        letter-spacing: -0.2px;
    }
}

.searchFillOpen {
    opacity: 1;
    scale: 1;
}

.searchFillClose {
    opacity: 0;
    scale: 0;
}

.search-btn-fill {
    width: 70px;
    height: 70px;
    border-bottom: solid 2px var(--primary);

    button {
        width: 100%;
        height: 100%;
    }
}

.text {
    font-size: 14.5px;
    letter-spacing: -0.5px;
    cursor: pointer;

    &:hover {
        text-decoration: 1px underline;
        text-underline-offset: 4px;
    }
}

// Service
.dialog-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.5s;
}

.service {
    display: flex;
    height: 100vh;
    width: 400px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 3001;
    transition: all ease 0.5s;
    padding: 40px 30px;
}

.all-service {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: solid 2px var(--text-black);

    p {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -0.5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    svg {
        transition: all ease 0.5s;
    }

    &:hover svg {
        margin-right: 8px;
    }
}

.service-title-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;

    a {
        font-size: 15.5px;
        font-weight: 600;
        letter-spacing: -0.3px;
        transition: all ease 0.5s;
    }

    a:hover {
        margin-left: 5px;
    }
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14.5px;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: -0.2px;

    a {
        display: flex;
        cursor: pointer;
        color: var(--text-black);
        transition: all ease 0.5s;
    }

    a:hover {
        margin-left: 5px;
    }

    svg {
        margin-right: 5px;
    }
}

.service-title {
    h1 {
        font-weight: 700;
        letter-spacing: -0.5px;
        transition: all ease 0.5s;
        text-transform: uppercase;
    }
}

.close-btn {
    position: fixed;
    right: 400px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    z-index: 3;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.5s;

    border-top-left-radius: 50%;

    &:hover {
        color: #fff;
        background-color: var(--primary);
    }

    &:hover svg {
        rotate: 360deg;
        transition: all ease 0.5s;
    }
}

// more

.more-btn {
    position: fixed;
    height: 55px;
    width: 55px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: all ease 0.5s;
    bottom: 15px;
    right: 15px;
    z-index: 1000;

    &:hover {
        background-color: var(--primary);
        color: #fff;
    }

    svg {
        font-size: 30px;
    }
}

.zalo {
    position: fixed;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: all ease 0.5s;
    right: 15px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;

    &:hover {
        background-color: var(--primary);
        color: #fff;
    }

    svg {
        font-size: 30px;
    }
}

.back-top {
    position: fixed;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: all ease 0.5s;
    right: 15px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;

    &:hover {
        background-color: var(--primary);
        color: #fff;
    }

    svg {
        font-size: 30px;
    }
}

// hdm-wrapper

.hdm-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all ease 0.5s;
    overflow: hidden;
    height: 60px;
    width: 100%;
}

.hdm-menu {
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1001;
    transition: all ease 0.5s;
    display: flex;
}

.hdm-link {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: var(--text-black);
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-transform: uppercase;
}

.hdm-decor {
    width: 300px;
    height: 3px;
    background-color: var(--secondary);
    margin: 20px 0;
}

.hdm-link2 {
    display: flex;
    gap: 8px;
    flex-direction: column;
    color: var(--text-black);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14.5px;
    letter-spacing: -0.5px;
}

.hdm-social {
    position: absolute;
    bottom: 20px;
    left: 60px;
    color: var(--text-black);
    display: flex;
    flex-direction: row;
    gap: 40px;

    a {
        font-size: 14px;
        font-weight: 600;
    }
}
