.banner-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.banner-img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-black {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 350px;
    opacity: 0.5;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 300px;

    h1 {
        font-size: 30px;
        font-weight: 500;
        color: #fff;
    }
}

.banner-input {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px var(--secondary);
    align-items: center;

    input {
        background-color: transparent;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        height: 40px;
        width: 60%;
    }
}

.banner-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    justify-content: right;
    color: #fff;
    cursor: pointer;

    p {
        font-weight: 600;
        font-size: 14px;
    }

    svg {
        transition: all ease 0.2s;
    }

    :hover ~ svg {
        margin-left: 4px;
    }
}

.check {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    align-items: center;

    p {
        color: #fff;
        font-size: 11px;
        opacity: 0.8;
        cursor: pointer;
        font-style: italic;
        font-weight: 500;
    }
}

// FOOTER
.footer {
    padding-top: 30px;
}

.footer-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-main {
    margin: 20px 0;
    padding: 20px 0 90px 0;
    border-top: solid 1px #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: -0.2px;
    gap: 20px;

    a:hover {
        text-decoration: 1px underline;
        text-underline-offset: 4px;
    }
}

.infor {
    display: flex;
    gap: 8px;
    flex-direction: column;
    font-weight: 500;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 10px;

    svg {
        font-size: 28px;
    }
}

.decor {
    background-color: var(--secondary);
    height: 2px;
    width: 30px;
    margin-bottom: 8px;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 15.5px;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dichvu,
.danhmuc,
.khac {
    display: flex;
    flex-direction: column;
    gap: 3px;

    a {
        font-weight: 600;
        font-size: 14.5px;
    }
}

.copyright {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    height: 60px;
    border-top: solid 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
